{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Add Annonce</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <!-- Form fields rendered by Django -->
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
